# General
.DS_Store
.env
.envrc
*.log
logs/

# Python
__pycache__/
*.pyc
*.pyd
*.so
env/
venv/
va/
AI/homework_helper/va/
AI/smart_homework/va/
AI/smart_homework_helper/va/
AI/smart_homework_helper/vu/

backend/Education/v2/
build/
dist/
.Python
.pytest_cache/
*.egg-info/
.ipynb_checkpoints/
.mypy_cache/
backend/Education/Educational_system/eduAPI/migrations/
C:\Users\Rawad\Desktop\Complementary_Education_System\AI\smart_homework_helper\data
"C:\Users\Rawad\Desktop\Complementary_Education_System\AI\smart_homework_helper\data"
/data
AI/smart_homework_helper/data
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz
pnpm-debug.log*
pnpm-lock.yaml
package-lock.json
frontend/dist/
frontend/node_modules/
dist-ssr/
lerna-debug.log*

# IDE and Editor specific files
.vscode/
!.vscode/extensions.json
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# User-uploaded content
backend/Education/Educational_system/media/

# Environment variables
.env
.env.local
.env.*.local
*.local

# Other
conda/
.cursorroles
.vscode
.kiro
*.local
lerna-debug.log* 
*.md